.center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 40px;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
}
.form input {
  width: 100%;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 10px;
}
.form button {
  font-size: 16px;
  padding: 8px 20px;
  background-color: white;
  border-radius: 22px;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
}

.messages {
  width: 100%;
  margin-top: 40px;
}
.message {
  width: 100%;
  text-align: center;
  padding: 8px 20px;
  background-color: gray;
}